<div class="row">
  <div class="col-sm-12">
        <form id="<%=view.viewModel.form.id%>" class="needs-validation">
          <h1><%=view.currentItemId?view.viewModel.form.editFormTitle:view.viewModel.form.addFormTitle%><%=view.appViewModel.isMock?" (MOCK DATA)":""%></h1>
          <div class="form-row">
          <% view.viewModel.fields.forEach(function(field) {
            let fieldVal=!view.viewModel.currentItemId?"":view.getFieldValue(field, view._data); 
            %><div class="col-md-6 mb-3"><% 
            if(field.inputType == "select") { 
            let options=view.storage.lookups[field.lookupName];
            
            %>

                      <label for="<%= field.name %>"><%= field.label %></label>
                      <select class="form-select" id="<%= field.name %>" name="<%= field.name %>">

                        <option><%= field.placeholder %></option>
                        <% if (field.lookupName === "teams") {
                          options.forEach((k,v) => { %> <option value="<%= k.id %>"
                            <% if(view._data && view._data.team_id === k.id) { %> selected <% } %>
                            ><%= k.name %></option> <% }); 
                        } else {
                          options.forEach((k,v) => { %> <option value="<%= k.id %>"
                            <% if(view._data && view._data.coach_id === k.id) { %> selected <% } %>
                            ><%= `${k.first_name} ${k.last_name}` %></option> <% });
                        } %>
                         

                      </select>
                      <div class="invalid-feedback"></div>

            <%} 
            else { 
              %>
                      <label for="<%= field.name %>"><%= field.label %></label>
                      <input type="<%= field.inputType %>" class="form-control" name="<%= field.name %>" id="<%= field.name %>" placeholder="<%= field.placeholder %>"
                      value="<% if (view._data) { %><%=view._data[field.name]%><% } %>"/>
                      <div class="invalid-feedback"></div>
                <% } %>
              </div>
            <% }); %>
            <!-- RENDER YOUR SUBMIT BUTTON -->
            <button class="btn btn-primary btn-lg" type="submit">Submit form</button>
            <!-- RENDER YOUR CANCEL BUTTON -->
            <input class="btn btn-outline-danger btn-lg" type="reset" id="reset" />
                      
      
        

      </form>
    </div>  <!--end col-->
    
  </div>   <!--end row-->